body {
  padding: 50px;
  background-color: rgb(126, 161, 126);
  font-family: sans-serif;

}


.container{
  display:flex;
  justify-content: flex;
}

button{
  margin-left: 10px;
}
input{
  margin-left: 10px;
}
